$accent_color: #0162AC;
$dark_main:  #1a353f;
$shadow_color: #1a1b25;
$accent_color: #015492;
$accent_light: #f0a83d;
$box_background: #ffffff;
$bodySizeSmall: 1.125em;
$bodySizeMedium: 1.25em;
$bodySizeLarge: 1.875em;
$screen-xs-min: 425px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1350px;
$feature-font: 'Permanent Marker', cursive;
$feature-font-size: 2.5em;
