@import 'normalize';
@import '_variables';
@import '_media-queries';
// @import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%flex_center-shared {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  @extend %flex_center-shared;
  background-color: $dark_main;
  font-family: 'Noto Sans SC', sans-serif;
}

.splash__container {
  @extend %flex_center-shared;
  background-color: $box_background;
  border-radius: 4px;
  padding: 1%;
  height: 80vh;
  width: 80%;
}

.splash__h1 {
  color: $accent_color;
  font-size: 3em;
}

.splash__form--user {
  @extend %flex_center-shared;
  border-radius: 4px;
  background-color: $accent_color;
  height: 60%;
  width: 45%;
}

%buttonHover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .1s ease-in-out;
}

%formstyle {
  // height: 2em;
  margin: 2%;
  width: 40%;
}

.splash__label--user {
  @extend %formstyle;
  color: $box_background;
  font-size: $bodySizeLarge;
  margin-bottom: 0;
}

.splash__input--user {
  border: none;
  border-radius: 4px;
  font-size: .8em;
  margin: 0;
  width: 100%;
}

.splash__button {
  @extend %formstyle;
  border: none;
  color: $accent_color;
  background-color: $box_background;
  height: 2em;
  border-radius: 4px;
    &:hover {
      @extend %buttonHover;
    }
}

nav {
  @extend %flex_center-shared;
  background-image: linear-gradient(white, #e2e2e2);
  color: #2b8b9e;
  font-size: $bodySizeSmall;
  height: 70px;
  justify-content: center;
  width: 100%;
    h1 {
      font-size: 3.3em;
    }
    h6 {
      font-size: $bodySizeMedium;
    }
}

nav div {
  @extend %flex_center-shared;
  justify-content: space-between;
  width: 1100px;
}

#welcome-name {
  color: #f0a83d;
}

header {
  @extend %flex_center-shared;
  justify-content: space-between;
  height: max-content;
  padding: 0 50px;
  width: 1200px;
    h2 {
      color: $accent_color;
      font-size: 2.5em;
      margin: 3px 0 0 0;
    }
    ul {
      background-color: #23586385;
      border-radius: 3px;
      margin-top: 10px;
      padding: 10px;
    }
      li {
        margin-bottom: 6px;
      }
    p {
      color: #dbdbdb;
      font-size: $bodySizeMedium;
    }
}

.section__btn--activity,
.hydration__btn--hydration,
.sleep__btn--sleep {
  margin-left: 14%;
  width: 14%;
    &:hover {
      @extend %buttonHover;
      font-weight: 900;
    }
}

.addActivity__article,
.addHydration__article,
.addSleep__article {
  background-color: $box_background;
  border-radius: 4px;
  display: block;
  height: 100%;
  margin: auto;
  width: 32%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
    label {
      font-size: 1.2em;
      margin-bottom: 3px;
    }
    input {
      @extend %formstyle
    }
    button {
      background-color: grey;
      border-radius: 3px;
      @extend %formstyle;
        &:hover {
          @extend %buttonHover;
        }
    }
}

#friend-list {
  color: #dbdbdb;
}

ul {
  list-style: none;
}

li {
  color: #d4d4d4;
  font-size: 1em;
  font-weight: 700;
}

span {
  font-weight: 400;
  margin-left: 5px;
}

main {
  width: 1150px;
    @include xl {
      width: 100%;
    }
}

.main__sections {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0 2%;
  width: 100%;
    @include lg {
      margin-left: 20px;
      width: 95%;
    }
    @include xl {
      width: 100%;
    }
}

h3 {
  background-color: $accent_color;
  border-radius: 4px;
  box-shadow: 10px 10px 30px $shadow_color;
  color: $accent_color;
  margin-bottom: 12px;
  padding: 2px 8px;
}

.widget--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.article--widget {
  @extend %flex_center-shared;
  background-color: $box_background;
  border-radius: 4px;
  box-shadow: 10px 10px 30px $shadow_color;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
    @include xl {
      width: 32%;
    }
    @include lg {
      width: 32%;
    }
    @include md {}
    @include sm {}
    @include xs {}
}

.steps__article--1 p {
  margin: 25px 0;
}

.steps__article--2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
}

#step-goal-chart {
  margin-top: 30px;
}

.hydration__article--1 h5 {
  margin-bottom: 25px;
}

.hydration__article--1 span,
.sleep__article--1 span {
  color: $accent_color;
  font-size: $bodySizeLarge;
  font-weight: bold;
}

#yesterday-sleep {
  margin-bottom: 20px;
    h5 {
      margin-top: 0;
    }
}

h5 {
  color: #4d4d4d;
  font-size: $bodySizeSmall;
  margin: 10px 0 0 0;
  text-align: center;
}

#friend-weekly-steps {
  font-size: $bodySizeMedium;
    li {
      color: #363636;
    }
}

.friend-1 span,
.friend-2 span,
.friend-3 span,
.friend-4 span,
.friend-5 span {
  color: $accent_color;
  font-size: $bodySizeSmall;
}

.friend-1 span {
  background: $accent_color;
  font-size: 1.75em;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.friend-2 span {
  background: $accent_color;
  font-size: 1.375em;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.friend-3 span {
  background: $accent_color;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sleep-icon,
.trend-icon,
.water-icon {
  width: 45%;
}

.man-icon {
  width: 400px;
}

.sleep-icon {
  margin: 25px 0 0 0;
}

.step-icon {
  height: 180px;
  margin-top: 75px;
}

.sleep-icon,
.water-icon {
  margin-bottom: 25px;
}

#weekly-sleep {
  margin-bottom: 80px;
}

.steps__article--3 {
  color: #4e4e4e;
  font-size: $bodySizeMedium;
  font-weight: bold;
    span {
      color: $accent_color;
      font-size: $bodySizeLarge;
      font-weight: bold;
    }
  }

#step-trends {
  @extend %flex_center-shared;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
  margin-bottom: 25px;
}

.all-time-sleep {
  margin-bottom: 30px;
    h5 {
      font-size: $bodySizeMedium;
      font-weight: bold;
    }
    span {
      color: $accent_color;
      font-size: $bodySizeLarge;
      font-weight: bold;
    }
}

.exercise-icon {
  margin-top: 15px;
  width: 44%;
}

.article__widget--div {
  margin-bottom: 12px;
  width: 85%;
    h5 {
      color: #5f5f5f;
      text-align: left;
    }
    span {
      color: $accent_color;
      font-size: 1.3em;
      font-weight: bold;
    }
}

.activity--container--2 {
  margin: 25px 0;
}

.globe-icon {
  height: 160px;
  margin-top: 15px;
}

#compare-activity {
  margin-bottom: 15px;
  width: 82%;
    span {
      color: $accent_color;
      font-size: 1.3em;
      font-weight: bold;
    }
    h5 {
      text-align: left;
    }
}

#weekly-steps-chart,
#weekly-minutes-chart,
#weekly-flights-chart {
  margin: 25px 0;
}
