$accent_color: #f9bb47;
$background_color:  #1a353f;
$shadow_color: #1a1b25;
$background_light_color: #015492;
$box_background: #ffffff;
$bodySizeSmall: 1.125em;
$bodySizeMedium: 1.25em;
$bodySizeLarge: 1.875em;
$screen-xs-min: 425px;  
$screen-sm-min: 576px;  
$screen-md-min: 768px; 
$screen-lg-min: 992px; 
$screen-xl-min: 1350px;