$accent_color: #f9bb47;
$background_color:  #1a353f;
$shadow_color: #1a1b25;
$background_light_color: #015492;
$box_background: #ffffff;
$fontSize_18px: 1.125em;
$fontSize_20px: 1.25em;
$fontSize_30px: 1.875em;
